.login {
    margin: 0 auto;
    text-align: center;
    padding: 300px 200px 300px 200px;
    background-image: url('../../images/shuttle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.google {
    margin-top: 10px;
}
.guest {
    margin-top: 10px;
    background: #3498db;
    border: #3498db;
    border-radius: 28px;
    color: #ffffff;
    height: 40px;
    width: 200px;
    background-image: linear-gradient(top, #3498db, #1b7cb8);
}
.guest:hover {
    background: #3cb0fd;
}