.login {
    margin: 0 auto;
    text-align: center;
    padding: 300px 200px 300px 200px;
    background-image: url('/images/Atlantis-Rollout-STS-79.jpg') ; 
}
.list-image {
    height: 100px;
    width: 100px;
}